@import "variables.scss";

footer{
    display: flex;
    position: relative;
    z-index: 1;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 100px 0 100px;

    font-family: $font-family;
    font-size: $font-size;
    background-color: $footer-bg-color;
    color: $footer-color;
    height: 20em;
    margin-bottom: 2em;

    .footer-content{
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 100%;
        width: 100%;
    }
    .separator-line {
    margin-top: $line-margin-top;
    margin-right: $line-margin-right;
    
    width: 6em;
    height: .1em;
    background-color: white;
    }
    
    p{
        height: 100%;
        width: 55%;
    }
}
