$font-family: "Montserrat", sans-serif;
$font-size: 1.6em;

$header-h1-color: rgb(236, 109, 183);
$header-1-padding-lef: 30px;
 
$footer-bg-color: darkcyan;
$footer-color: white;

$line-margin-top: 1.6em;
$line-margin-right: 1.6em;